<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends 'base.html' %}
{% block title %}Bookmark Update{% endblock %}

{% block content %}
<span style="font-size:1.5em;">{{"Modify"}}</span><br>
<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Update" class="btn btn-info btn-sm">
    <a href="{% url 'list' %}"><button type="button" style="border:none;">Cancel</button></a>
</form>
{% endblock %}

</body>
</html>